body {
    background-color: white;
}
nav {
    background-color: #008348;
    text-align: center;
    color:  white;
    font-family: Helvetica, sans-serif;
    font-variant: small-caps;
}
nav ul {
    list-style-type: none;
    text-align: center;
  }
nav li {
    display: inline-block;
    padding-left: 20px;
    color: white;
  }
nav a {
    color: white;
    text-decoration-line: none;
}
