body {
  background-color: white;
}
nav {
  background-color: #008348;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-variant: small-caps;
  height: 90px;
  font-size: 18pt;
}
nav ul {
  list-style-type: none;
  text-align: center;
  margin-right: 700px;
}
nav li {
  display: inline-block;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  color: white;
}
nav a {
  color: white;
  text-decoration-line: none;
  padding: 1px;
}
nav a:hover {
  background-color: white;
  color: #008348;
  transition: 0.3s;
  padding: 1px;
  border-radius: 4px;
}

#celtics-logo {
  height: 70px;
  float: left;
  margin-left: 200px;
  margin-top: 10px;
}
table {
  border: #ececec 1px solid;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

td {
  height: 150px;
}
tr:hover {
  background-color: #ececec;
}
/* advanced selector above */

.logo_in_table {
  height: 60px;
}
#table_desc p {
  text-align: center;
  margin: 0px;
  font-size: 10px;
}
.date {
  background-color: #e1ece4;
  width: 150px;
  text-align: center;
}
.date p {
  margin: -2px;
  font-size: 10px;
}
.date .bigtext {
  font-size: 22px;
}
.score {
  font-size: 22px;
  text-align: center;
  width: 300px;
}
h1 {
    text-align: center;
    font-family: sans-serif;
}
p {
    font-family: sans-serif;
}
#question-body {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-left: 300px;
    padding-right: 300px;
}
.red {
    color: red;
}
#number {
    text-align: center;
    font-size: 30pt;
}
button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
